<div class="add-block">
    <input
        class="add-input"
        #newItem
        (keyup.enter)="addElement(newItem.value); newItem.value = ''"
    />
    <button class="add-btn" (click)="addElement(newItem.value); newItem.value = ''">Add task</button>

</div>

<div class="create-line"></div>

<button
    class="btn btn-menu"
    [class.active]="filter == 'all'"
    (click)="filter = 'all' ; filterTodo()">
    All
  </button>

  <button
    class="btn btn-menu"
    (click)="filter = 'not done'; filterTodo()">
    To Do
  </button>

  <button
    class="btn btn-menu"
    [class.active]="filter == 'done'"
    (click)="filter = 'done'; filterTodo()">
    Done
</button>
<div class="task">
    @if(data.length === 0){
        <div class="finish">Success</div>
    }
    <li *ngFor="let d of data; index as i" class="list">
        <input 
            class="check"
            type="checkbox" 
            [(ngModel)]="d.completed"
            (ngModelChange)="ngOnChanges()">
        <div>{{i+1}}</div>
        <input 
            class="edit"
            (click)="onSelected(d)"
            [(ngModel)]="d.description"
            value="{{d.description}}"
            (ngModelChange)="ngOnChanges()"
            
        />
        <button class="btn-delete" (click)="removeElement(d)">
            <img class="image" src="../../images/delete.svg"/>
        </button>
    </li>
</div>

